[Unit]
Description=Nextcloud cron.php job

[Service]
User=www-data
ExecCondition=php -f {{ nextcloud_directory }}/occ status -e
ExecStart=/usr/bin/php -f {{ nextcloud_directory }}/cron.php
KillMode=process
